In [1]:
#load data ,data concatenation & removing redundant data
import pandas as pd
import numpy as np
from geopy.distance import great_circle


rental_listing1 = pd.read_csv('/Users/shreya/Desktop/Comp_viz/Project_comp_viz/data_files/Zrent_listings.csv')
rental_listing2 = pd.read_csv('/Users/shreya/Desktop/Comp_viz/Project_comp_viz/data_files/Zrent_listings_BROKLINE.csv')
rental_listing3 = pd.read_csv('/Users/shreya/Desktop/Comp_viz/Project_comp_viz/data_files/Zrent_listings_CAMB.csv')
sales = pd.read_csv('/Users/shreya/Desktop/Comp_viz/Project_comp_viz/data_files/Zsales_listings.csv')

neighbourhood_zipcode_mapping = pd.read_csv('/Users/shreya/Desktop/Comp_viz/Project_comp_viz/data_files/Neighbourhood_zipcode.csv')

# zillow_listing = pd.concat([rental_listing1, rental_listing2, rental_listing3, sales], axis=0)
zillow_listing = pd.concat([rental_listing1, rental_listing2, rental_listing3], axis=0)
zillow_listing = zillow_listing.drop_duplicates()
zillow_listing

,Street Address,Street Name,Zipcode,City,State,Latitude,Longitude,Price,Listing Type,Home Type,...,Bedrooms,Bathrooms,Unit,Floor,Block,Time on Zillow,Is Non-Owner Occupied,Is Zillow Owned,Days on Zillow,Is Showcase Listing
0,650 Columbus Ave #434,650 Columbus Ave #434,2118,Boston,MA,42.338590,-71.083120,3300,FOR_RENT,APARTMENT,...,1,1,# 434,6,7,3200409000,true,false,-1,false
1,8 Winter St #1103,8 Winter St #1103,2108,Boston,MA,42.355520,-71.061660,3200,FOR_RENT,APARTMENT,...,1,1,# 1103,10,3,4057882000,true,false,-1,false
2,475 Shawmut Ave APT 2,475 Shawmut Ave APT 2,2118,Boston,MA,42.338947,-71.075890,3500,FOR_RENT,APARTMENT,...,2,1,Apt 2,2,5,351695000,true,false,-1,false
3,780 William T Morrissey Blvd #1B-1BA-644SQFT,780 William T Morrissey Blvd #1B-1BA-644SQFT,2122,Dorchester,MA,42.295498,-71.046715,3158,FOR_RENT,APARTMENT,...,1,1,# 1B-1Ba-644Sqft,10,1,4477663000,true,false,-1,false
4,1079 Commonwealth Ave APT 532,1079 Commonwealth Ave APT 532,2215,Boston,MA,42.352787,-71.124510,4700,FOR_RENT,APARTMENT,...,3,2,Apt 532,10,6,1646314000,true,false,-1,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6570,340 Putnam Ave #2,340 Putnam Ave #2,2139,Cambridge,MA,42.361565,-71.113335,4000,FOR_RENT,APARTMENT,...,3,1,# 2,10,8,189407000,true,false,-1,false
6571,3 Ellery St #3D,3 Ellery St #3D,2138,Cambridge,MA,42.369770,-71.111930,2700,FOR_RENT,APARTMENT,...,1,1,# 3D,8,4,965521000,true,false,-1,false
6572,1427 Cambridge St #4,1427 Cambridge St #4,2139,Cambridge,MA,42.374050,-71.101875,4700,FOR_RENT,APARTMENT,...,3,1,# 4,2,2,1312902000,true,false,-1,false
6573,10 Cambridge Ter #1F,10 Cambridge Ter #1F,2140,Cambridge,MA,42.388080,-71.122600,5000,FOR_RENT,APARTMENT,...,4,2,# 1F,10,1,25156377000,true,false,-1,false
6574,25 Plymouth St TOWNHOUSE 2,25 Plymouth St TOWNHOUSE 2,2141,Cambridge,MA,42.368850,-71.091870,3450,FOR_RENT,APARTMENT,...,2,1,Townhouse 2,10,3,442450000,true,false,-1,false

In [2]:
#Landmark list along with its geospatial attributes

landmarks_coordinates = {
    "Boston Common": (42.3551, -71.0656),
    "Harvard University": (42.3770, -71.1167),
    "Fenway Park": (42.3467, -71.0972),
    "Seaport District": (42.3523, -71.0483),
    "North End": (42.3645, -71.0542),
    "Northeastern University": (42.3401, -71.0892),
    "Boston University": (42.3505, -71.1050)
}

In [3]:
#removing extra spaces front and back of the text

zillow_listing.columns = zillow_listing.columns.str.strip()
print(zillow_listing.columns)
print(neighbourhood_zipcode_mapping.columns)

Index(['Street Address', 'Street Name', 'Zipcode', 'City', 'State', 'Latitude',
       'Longitude', 'Price', 'Listing Type', 'Home Type', 'ZPID', 'Area',
       'Bedrooms', 'Bathrooms', 'Unit', 'Floor', 'Block', 'Time on Zillow',
       'Is Non-Owner Occupied', 'Is Zillow Owned', 'Days on Zillow',
       'Is Showcase Listing'],
      dtype='object')
Index(['Neighbourhood', 'Zip_Code'], dtype='object')

In [4]:
#removing rows which has value 0 in the Bedroom column (faulty data)
zillow_listing = zillow_listing[zillow_listing['Bedrooms'] != 0]

pd.options.mode.chained_assignment = None 
#Ensure Bedrooms and Bathrooms columns are numeric and handle missing values
# Convert 'Bedrooms' and 'Bathrooms' to numeric as well if they have non-numeric values
zillow_listing['Bedrooms'] = pd.to_numeric(zillow_listing['Bedrooms'], errors='coerce')
zillow_listing['Bathrooms'] = pd.to_numeric(zillow_listing['Bathrooms'], errors='coerce')

# Impute 'Bedrooms' and 'Bathrooms' with median values
median_bedrooms = zillow_listing['Bedrooms'].median()
median_bathrooms = zillow_listing['Bathrooms'].median()

zillow_listing['Bedrooms'].fillna(median_bedrooms, inplace=True)
zillow_listing['Bathrooms'].fillna(median_bathrooms, inplace=True)

/var/folders/51/drlh178n19x8vqlk053g55dr0000gn/T/ipykernel_92673/2794561443.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  zillow_listing['Bedrooms'].fillna(median_bedrooms, inplace=True)
/var/folders/51/drlh178n19x8vqlk053g55dr0000gn/T/ipykernel_92673/2794561443.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  zillow_listing['Bathrooms'].fillna(median_bathrooms, inplace=True)

In [5]:
# Assuming 'undefined' and '9999' are considered invalid and should be treated as missing and Convert the 'Area' column to numeric, coercing errors to NaN
zillow_listing['Area'] = zillow_listing['Area'].replace(['undefined', '9999'], np.nan)
zillow_listing['Area'] = pd.to_numeric(zillow_listing['Area'], errors='coerce')

#Impute missing values with the mean of the column
mean_value = zillow_listing['Area'].mean()
zillow_listing['Area'].fillna(mean_value, inplace=True)
print(zillow_listing['Area'].isnull().sum())

0

/var/folders/51/drlh178n19x8vqlk053g55dr0000gn/T/ipykernel_92673/642858496.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  zillow_listing['Area'].fillna(mean_value, inplace=True)

In [6]:
def modify_price(price):
    percentage_change = np.random.uniform(0.09, 0.47)
    if np.random.rand() < 0.4:
        new_price = price * (1 + percentage_change)
    else:
        new_price = price * (1 - percentage_change)
    return new_price

zillow_listing['Zestimate'] = zillow_listing['Price'].apply(modify_price)
zillow_listing['Zestimate'] = zillow_listing['Zestimate'].astype(int)

In [7]:
#using neighbourhood_zipcode_mapping dataframe map the zipcodes to a new column called neighbourhood
neighbourhood_zipcode_mapping['Zip_Code'] = neighbourhood_zipcode_mapping['Zip_Code'].apply(
    lambda x: list(map(int, x.split(',')))
)
print(neighbourhood_zipcode_mapping)
neighbourhood_mapping = neighbourhood_zipcode_mapping.explode('Zip_Code')
neighbourhood_mapping['Zip_Code'] = neighbourhood_mapping['Zip_Code'].astype(int)
zillow_listing = zillow_listing.merge(neighbourhood_mapping, left_on='Zipcode', right_on='Zip_Code', how='left')

#Drop the extra Zip_code column if no longer needed
zillow_listing.drop(columns=['Zip_Code'], inplace=True)
print(len(zillow_listing))

             Neighbourhood                                           Zip_Code
0                  Allston                                             [2134]
1                 Back Bay                                 [2116, 2117, 2199]
2              Beacon Hill                                             [2108]
3                 Brighton                                             [2135]
4              Charlestown                                             [2129]
5                Chinatown                                             [2111]
6               Dorchester                           [2121, 2122, 2124, 2125]
7          Downtown Boston                                       [2109, 2110]
8              East Boston                                             [2128]
9           Fenway/Kenmore                                       [2215, 2115]
10               Hyde Park                                             [2136]
11           Jamaica Plain                                             [2130]
12                Mattapan                                             [2126]
13            Mission Hill                                             [2120]
14               North End                                             [2113]
15              Roslindale                                             [2131]
16                 Roxbury                                             [2119]
17        Seaport District                                             [2210]
18  South Boston (Southie)                                       [2127, 2210]
19               South End                                             [2118]
20                West End                                             [2114]
21            West Roxbury                                             [2132]
22               Cambridge                     [2138, 2139, 2140, 2141, 2142]
23              Somerville                                 [2143, 2144, 2145]
24               Brookline                                       [2445, 2446]
25                  Quincy                                 [2169, 2170, 2171]
26                 Medford                                             [2155]
27               Watertown                                             [2472]
28                  Newton  [2458, 2459, 2460, 2461, 2462, 2464, 2465, 246...
29                  Malden                                             [2148]
30                 Everett                                             [2149]
31               Arlington                                       [2474, 2476]
32                 Chelsea                                             [2150]
33                  Revere                                             [2151]
34                  Milton                                             [2186]
35                 Belmont                                             [2478]
36                 Waltham                                 [2451, 2452, 2453]
37                  Woburn                                             [1801]
38               Lexington                                       [2420, 2421]
39                Winthrop                                             [2152]
40                 Melrose                                             [2176]
41                 Needham                                       [2492, 2494]
17318

In [8]:
# Calculate distances to each landmark and create new columns in the DataFrame
for landmark, coords in landmarks_coordinates.items():
    zillow_listing[landmark] = zillow_listing.apply(lambda row: great_circle((row['Latitude'], row['Longitude']), coords).miles, axis=1)

# Display the Dataframe with distances
for i, col in enumerate(zillow_listing.columns):
    print(f"Column {i}: {col}")

zillow_listing

Column 0: Street Address
Column 1: Street Name
Column 2: Zipcode
Column 3: City
Column 4: State
Column 5: Latitude
Column 6: Longitude
Column 7: Price
Column 8: Listing Type
Column 9: Home Type
Column 10: ZPID
Column 11: Area
Column 12: Bedrooms
Column 13: Bathrooms
Column 14: Unit
Column 15: Floor
Column 16: Block
Column 17: Time on Zillow
Column 18: Is Non-Owner Occupied
Column 19: Is Zillow Owned
Column 20: Days on Zillow
Column 21: Is Showcase Listing
Column 22: Zestimate
Column 23: Neighbourhood
Column 24: Boston Common
Column 25: Harvard University
Column 26: Fenway Park
Column 27: Seaport District
Column 28: North End
Column 29: Northeastern University
Column 30: Boston University

,Street Address,Street Name,Zipcode,City,State,Latitude,Longitude,Price,Listing Type,Home Type,...,Is Showcase Listing,Zestimate,Neighbourhood,Boston Common,Harvard University,Fenway Park,Seaport District,North End,Northeastern University,Boston University
0,650 Columbus Ave #434,650 Columbus Ave #434,2118,Boston,MA,42.338590,-71.083120,3300,FOR_RENT,APARTMENT,...,false,2751,South End,1.449725,3.159514,0.911606,2.014725,2.320672,0.327575,1.387679
1,8 Winter St #1103,8 Winter St #1103,2108,Boston,MA,42.355520,-71.061660,3200,FOR_RENT,APARTMENT,...,false,4106,Beacon Hill,0.203254,3.177658,1.914337,0.717523,0.728032,1.764333,2.239983
2,475 Shawmut Ave APT 2,475 Shawmut Ave APT 2,2118,Boston,MA,42.338947,-71.075890,3500,FOR_RENT,APARTMENT,...,false,4047,South End,1.233578,3.354731,1.212973,1.684125,2.084169,0.684415,1.687327
3,780 William T Morrissey Blvd #1B-1BA-644SQFT,780 William T Morrissey Blvd #1B-1BA-644SQFT,2122,Dorchester,MA,42.295498,-71.046715,3158,FOR_RENT,APARTMENT,...,false,3512,Dorchester,4.229592,6.669898,4.378041,3.925480,4.782890,3.769361,4.827787
4,1079 Commonwealth Ave APT 532,1079 Commonwealth Ave APT 532,2215,Boston,MA,42.352787,-71.124510,4700,FOR_RENT,APARTMENT,...,false,3317,Fenway/Kenmore,3.012178,1.719814,1.456577,3.891502,3.679844,2.004922,1.008668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17313,340 Putnam Ave #2,340 Putnam Ave #2,2139,Cambridge,MA,42.361565,-71.113335,4000,FOR_RENT,APARTMENT,...,false,2250,Cambridge,2.477768,1.080202,1.316665,3.381662,3.025790,1.928300,0.874985
17314,3 Ellery St #3D,3 Ellery St #3D,2138,Cambridge,MA,42.369770,-71.111930,2700,FOR_RENT,APARTMENT,...,false,2096,Cambridge,2.573315,0.555723,1.762493,3.465575,2.969475,2.355724,1.377639
17315,1427 Cambridge St #4,1427 Cambridge St #4,2139,Cambridge,MA,42.374050,-71.101875,4700,FOR_RENT,APARTMENT,...,false,6039,Cambridge,2.267992,0.783673,1.904719,3.120783,2.521549,2.433355,1.634953
17316,10 Cambridge Ter #1F,10 Cambridge Ter #1F,2140,Cambridge,MA,42.388080,-71.122600,5000,FOR_RENT,APARTMENT,...,false,5569,Cambridge,3.695702,0.822645,3.139371,4.527323,3.852687,3.727915,2.747573
17317,25 Plymouth St TOWNHOUSE 2,25 Plymouth St TOWNHOUSE 2,2141,Cambridge,MA,42.368850,-71.091870,3450,FOR_RENT,APARTMENT,...,false,4560,Cambridge,1.643564,1.386896,1.554426,2.501145,1.946380,1.991108,1.434174

In [9]:
# data imputation
zillow_listing['Is Zillow Owned'] = np.random.choice([True, False], size=len(zillow_listing), p=[0.30, 0.70])
zillow_listing['Is Non-Owner Occupied'] = np.random.choice([True, False], size=len(zillow_listing), p=[0.80, 0.20])
zillow_listing['Is Showcase Listing'] = np.random.choice([True, False], size=len(zillow_listing), p=[0.40, 0.60])

# Impute 'daysonZillow' with a normal distribution, scaled between 1 and 100
mean = 50
std_dev = 15
zillow_listing['Days on Zillow'] = np.clip(np.random.normal(mean, std_dev, size=len(zillow_listing)), 1, 100).astype(int)
zillow_listing['score'] = np.random.choice([True, False], size=len(zillow_listing), p=[0.4, 0.60])
zillow_listing

,Street Address,Street Name,Zipcode,City,State,Latitude,Longitude,Price,Listing Type,Home Type,...,Zestimate,Neighbourhood,Boston Common,Harvard University,Fenway Park,Seaport District,North End,Northeastern University,Boston University,score
0,650 Columbus Ave #434,650 Columbus Ave #434,2118,Boston,MA,42.338590,-71.083120,3300,FOR_RENT,APARTMENT,...,2751,South End,1.449725,3.159514,0.911606,2.014725,2.320672,0.327575,1.387679,True
1,8 Winter St #1103,8 Winter St #1103,2108,Boston,MA,42.355520,-71.061660,3200,FOR_RENT,APARTMENT,...,4106,Beacon Hill,0.203254,3.177658,1.914337,0.717523,0.728032,1.764333,2.239983,False
2,475 Shawmut Ave APT 2,475 Shawmut Ave APT 2,2118,Boston,MA,42.338947,-71.075890,3500,FOR_RENT,APARTMENT,...,4047,South End,1.233578,3.354731,1.212973,1.684125,2.084169,0.684415,1.687327,True
3,780 William T Morrissey Blvd #1B-1BA-644SQFT,780 William T Morrissey Blvd #1B-1BA-644SQFT,2122,Dorchester,MA,42.295498,-71.046715,3158,FOR_RENT,APARTMENT,...,3512,Dorchester,4.229592,6.669898,4.378041,3.925480,4.782890,3.769361,4.827787,False
4,1079 Commonwealth Ave APT 532,1079 Commonwealth Ave APT 532,2215,Boston,MA,42.352787,-71.124510,4700,FOR_RENT,APARTMENT,...,3317,Fenway/Kenmore,3.012178,1.719814,1.456577,3.891502,3.679844,2.004922,1.008668,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17313,340 Putnam Ave #2,340 Putnam Ave #2,2139,Cambridge,MA,42.361565,-71.113335,4000,FOR_RENT,APARTMENT,...,2250,Cambridge,2.477768,1.080202,1.316665,3.381662,3.025790,1.928300,0.874985,False
17314,3 Ellery St #3D,3 Ellery St #3D,2138,Cambridge,MA,42.369770,-71.111930,2700,FOR_RENT,APARTMENT,...,2096,Cambridge,2.573315,0.555723,1.762493,3.465575,2.969475,2.355724,1.377639,False
17315,1427 Cambridge St #4,1427 Cambridge St #4,2139,Cambridge,MA,42.374050,-71.101875,4700,FOR_RENT,APARTMENT,...,6039,Cambridge,2.267992,0.783673,1.904719,3.120783,2.521549,2.433355,1.634953,False
17316,10 Cambridge Ter #1F,10 Cambridge Ter #1F,2140,Cambridge,MA,42.388080,-71.122600,5000,FOR_RENT,APARTMENT,...,5569,Cambridge,3.695702,0.822645,3.139371,4.527323,3.852687,3.727915,2.747573,False
17317,25 Plymouth St TOWNHOUSE 2,25 Plymouth St TOWNHOUSE 2,2141,Cambridge,MA,42.368850,-71.091870,3450,FOR_RENT,APARTMENT,...,4560,Cambridge,1.643564,1.386896,1.554426,2.501145,1.946380,1.991108,1.434174,False

In [10]:
zillow_listing.columns

Index(['Street Address', 'Street Name', 'Zipcode', 'City', 'State', 'Latitude',
       'Longitude', 'Price', 'Listing Type', 'Home Type', 'ZPID', 'Area',
       'Bedrooms', 'Bathrooms', 'Unit', 'Floor', 'Block', 'Time on Zillow',
       'Is Non-Owner Occupied', 'Is Zillow Owned', 'Days on Zillow',
       'Is Showcase Listing', 'Zestimate', 'Neighbourhood', 'Boston Common',
       'Harvard University', 'Fenway Park', 'Seaport District', 'North End',
       'Northeastern University', 'Boston University', 'score'],
      dtype='object')

In [11]:
#price prediction of the property

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_error, r2_score

#copy of the Zillow dataset
df = zillow_listing.copy()

#feature and target variables
X = df[['Bedrooms', 'Bathrooms', 'Home Type', 'Neighbourhood', 'Area']]
y = df['Price']
X

       Bedrooms  Bathrooms   Home Type   Neighbourhood         Area
0             1          1   APARTMENT       South End   720.000000
1             1          1   APARTMENT     Beacon Hill   608.000000
2             2          1   APARTMENT       South End   950.000000
3             1          1   APARTMENT      Dorchester   644.000000
4             3          2   APARTMENT  Fenway/Kenmore  1660.000000
...         ...        ...         ...             ...          ...
17313         3          1   APARTMENT       Cambridge  1100.000000
17314         1          1   APARTMENT       Cambridge  3372.762331
17315         3          1   APARTMENT       Cambridge  1200.000000
17316         4          2   APARTMENT       Cambridge  3372.762331
17317         2          1   APARTMENT       Cambridge  3372.762331

[17318 rows x 5 columns]

In [12]:
#Convert relevant features to numeric, coercing errors to NaN
X['Area'] = pd.to_numeric(X['Area'], errors='coerce')
X['Bedrooms'] = pd.to_numeric(X['Bedrooms'], errors='coerce')
X['Bathrooms'] = pd.to_numeric(X['Bathrooms'], errors='coerce')

# Impute missing values with mean
X['Area'].fillna(X['Area'].mean(), inplace=True)
X['Bedrooms'].fillna(X['Bedrooms'].median(), inplace=True)
X['Bathrooms'].fillna(X['Bathrooms'].median(), inplace=True)

#One-hot encoding for categorical: Home type features
X = pd.get_dummies(X, columns=['Home Type'], drop_first=False)
X = pd.get_dummies(X, columns=['Neighbourhood'], drop_first=False)

/var/folders/51/drlh178n19x8vqlk053g55dr0000gn/T/ipykernel_92673/2565854165.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X['Area'].fillna(X['Area'].mean(), inplace=True)
/var/folders/51/drlh178n19x8vqlk053g55dr0000gn/T/ipykernel_92673/2565854165.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X['Bedrooms'].fillna(X['Bedrooms'].median(), inplace=True)
/var/folders/51/drlh178n19x8vqlk053g55dr0000gn/T/ipykernel_92673/2565854165.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X['Bathrooms'].fillna(X['Bathrooms'].median(), inplace=True)

In [13]:
#Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#Feature scaling for numeric features only
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train[['Area', 'Bedrooms', 'Bathrooms']])
X_test_scaled = scaler.transform(X_test[['Area', 'Bedrooms', 'Bathrooms']])

#Create DataFrames from the scaled data
X_train_scaled_df = pd.DataFrame(X_train_scaled, columns=['Area', 'Bedrooms', 'Bathrooms'], index=X_train.index)
X_test_scaled_df = pd.DataFrame(X_test_scaled, columns=['Area', 'Bedrooms', 'Bathrooms'], index=X_test.index)

# Step 8: Concatenate scaled and non-scaled data
X_train_final = pd.concat([X_train_scaled_df, X_train.drop(['Area', 'Bedrooms', 'Bathrooms'], axis=1)], axis=1)
X_test_final = pd.concat([X_test_scaled_df, X_test.drop(['Area', 'Bedrooms', 'Bathrooms'], axis=1)], axis=1)
# print(X_train_final.columns)
#Model training (Random Forest)
rf = RandomForestRegressor()
rf.fit(X_train_final, y_train)

#Predicting and evaluating
y_pred = rf.predict(X_test_final)
print("Random Forest MSE:", mean_squared_error(y_test, y_pred))

Random Forest MSE: 109387.64423207614

In [14]:
# predictive analysis on the output

import numpy as np
import pandas as pd

def analyze_dataset(y_train, y_test, y_pred):
    print("Target Variable Analysis:")
    print("-" * 50)
    print(f"Training set price range:")
    print(f"Minimum: ${y_train.min():,.2f}")
    print(f"Maximum: ${y_train.max():,.2f}")
    print(f"Mean: ${y_train.mean():,.2f}")
    print(f"Median: ${y_train.median():,.2f}")
    print(f"Standard Deviation: ${y_train.std():,.2f}")

    print("\nModel Performance Metrics:")
    print("-" * 50)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_test, y_pred)

    print(f"Mean Squared Error (MSE): ${mse:,.2f}")
    print(f"Root Mean Squared Error (RMSE): ${rmse:,.2f}")
    print(f"R² Score: {r2:.4f}")

    # Calculate percentage error relative to mean price
    mean_price = y_test.mean()
    rmse_percentage = (rmse / mean_price) * 100
    print(f"RMSE as percentage of mean price: {rmse_percentage:.2f}%")

    print("\nTypical Values in Dataset:")
    print("-" * 50)
    print("Test set predictions summary:")
    prediction_summary = pd.Series(y_pred).describe()
    print(prediction_summary)

    print("\nActual vs Predicted Analysis:")
    print("-" * 50)
    errors = y_test - y_pred
    print("Error statistics:")
    print(f"Mean absolute error: ${abs(errors).mean():,.2f}")
    print(f"Median absolute error: ${abs(errors).median():,.2f}")
    print(f"90th percentile of absolute error: ${np.percentile(abs(errors), 90):,.2f}")

# Run the analysis
analyze_dataset(y_train, y_test, y_pred)

Target Variable Analysis:
--------------------------------------------------
Training set price range:
Minimum: $1,800.00
Maximum: $30,000.00
Mean: $4,264.59
Median: $3,760.00
Standard Deviation: $2,090.13

Model Performance Metrics:
--------------------------------------------------
Mean Squared Error (MSE): $109,387.64
Root Mean Squared Error (RMSE): $330.74
R² Score: 0.9744
RMSE as percentage of mean price: 7.80%

Typical Values in Dataset:
--------------------------------------------------
Test set predictions summary:
count     3464.000000
mean      4231.833971
std       2037.192929
min       1800.000000
25%       3120.100794
50%       3820.000000
75%       4675.347902
max      30000.000000
dtype: float64

Actual vs Predicted Analysis:
--------------------------------------------------
Error statistics:
Mean absolute error: $159.65
Median absolute error: $21.58
90th percentile of absolute error: $486.92

In [17]:
# Get one sample from test data
print(f"total number of records in test dataset is: {len(X_test_final)}")
n = 5
sample_index = X_test_final.index[n]
sample = X_test_final.iloc[[n]]
# print(X.iloc[[n]])
# Get actual price for this sample
actual_price = y_test[sample_index]

# Make prediction
predicted_price = rf.predict(sample)[0]

print(f"Actual Price: ${actual_price:,.2f}")
print(f"Predicted Price: ${predicted_price:,.2f}")
print(f"Absolute Error: ${abs(actual_price - predicted_price):,.2f}")
print(f"Percentage Error: {abs(actual_price - predicted_price)/actual_price*100:.2f}%")

total number of records in test dataset is: 3464
Actual Price: $3,130.00
Predicted Price: $3,140.70
Absolute Error: $10.70
Percentage Error: 0.34%